
<div class="container text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-company">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" 
        placeholder="Search company id or Name">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Company Id</th>
          <th>Company Name</th>
          

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let company of companies | filter:searchText">
          <td>{{company.company_id}}</td>
          <td>{{company.company_name}}</td> 
               
        </tr>
        </tbody>
      </table>
    
    </div>
  </div>
  
