<div>
    <br/>
    <div id = "div-dashboard-head">
        <a routerLink="uploadexcel" class="nav-link" class="btn btn-primary active" role="button">Import Excel</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="company" class="nav-link" class="btn btn-primary active" role="button">Manage Companies </a> 
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="ipo" class="nav-link" class="btn btn-primary active" role="button">Manage IPO </a> 
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="exchange" class="nav-link" class="btn btn-primary active" role="button">Manage Stock Exchange </a> 
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="addcompany" class="nav-link" class="btn btn-primary active" role="button">Create Company </a> 
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="compare-company" class="nav-link" class="btn btn-primary active" role="button">Comparison Charts </a> 
    </div>
</div>
