<div>
    <br/>
    <div id = "div-dashboard-head">
        <a routerLink="company" class="nav-link" class="btn btn-primary active" role="button">View Companies </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="ipo" class="nav-link" class="btn btn-primary active" role="button">View IPO </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="compare-company" class="nav-link" class="btn btn-primary active" role="button">Comparison Charts </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="../sector" class="nav-link" class="btn btn-primary active" role="button">Sector Details</a>
    </div>
</div>
