/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --primary-color: #011936;
  --background-color: #c2c1c2;
  --text-color: #2d2d2d;
  --app-name: #b7990d;
}

html, body { height: 100%; }
body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
   font-family: Roboto "Helvetica Neue", sans-serif;
 }
